.app {
  display:grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 85px 2fr;
  grid-template-columns: 1fr 12fr;
}

.appContent {
  grid-area : c;
background-color:lavender;
padding: 5px;
}